# Groupby Operations and Multi-level Index

In [1]:
import numpy as np
import pandas as pd

## Data

In [2]:
df = pd.read_csv('mpg.csv')

In [3]:
df.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
43,13.0,8,400.0,170,4746,12.0,71,1,ford country squire (sw)

In [4]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [5]:
df['model_year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [6]:
df['horsepower'].value_counts()

horsepower
150    22
90     20
88     19
110    18
100    17
       ..
61      1
93      1
148     1
152     1
82      1
Name: count, Length: 94, dtype: int64

In [7]:
myser = df.groupby('horsepower',sort=True).sum()['mpg'].head()

In [8]:
myser

horsepower
100    333.1
102     20.0
103     20.3
105    246.0
107     21.0
Name: mpg, dtype: float64

In [9]:
df['cylinders'].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

## groupby() method

In [10]:
df['model_year'].value_counts()

model_year
73    40
78    36
76    34
82    31
75    30
70    29
79    29
80    29
81    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64

In [12]:
# Creates a groupby object waiting for an aggregate method
df.groupby('model_year')['mpg'].sum()

model_year
70    513.0
71    595.0
72    524.0
73    684.0
74    613.0
75    608.0
76    733.5
77    654.5
78    866.2
79    727.7
80    977.2
81    879.7
82    983.0
Name: mpg, dtype: float64

#### Adding an aggregate method call. To use a grouped object, you need to tell pandas how you want to aggregate the data.

Common Options:

    mean(): Compute mean of groups
    sum(): Compute sum of group values
    size(): Compute group sizes
    count(): Compute count of group
    std(): Standard deviation of groups
    var(): Compute variance of groups
    sem(): Standard error of the mean of groups
    describe(): Generates descriptive statistics
    first(): Compute first of group values
    last(): Compute last of group values
    nth() : Take nth value, or a subset if n is a list
    min(): Compute min of group values
    max(): Compute max of group values
    
Full List at the Online Documentation: https://pandas.pydata.org/docs/reference/groupby.html

In [13]:
# model_year becomes the index! It is NOT a column name,it is now the name of the index
df.groupby('model_year')['mpg'].mean()

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [14]:
avg_year = df.groupby(['model_year','cylinders'])['mpg'].mean()
#avg_year.xs(key=4,level='cylinders')

In [15]:
avg_year

model_year  cylinders
70          4            25.285714
            6            20.500000
            8            14.111111
71          4            27.461538
            6            18.000000
            8            13.428571
72          3            19.000000
            4            23.428571
            8            13.615385
73          3            18.000000
            4            22.727273
            6            19.000000
            8            13.200000
74          4            27.800000
            6            17.857143
            8            14.200000
75          4            25.250000
            6            17.583333
            8            15.666667
76          4            26.766667
            6            20.000000
            8            14.666667
77          3            21.500000
            4            29.107143
            6            19.500000
            8            16.000000
78          4            29.576471
            5            20.300000
            6            19.066667
            8            19.050000
79          4            31.525000
            5            25.400000
            6            22.950000
            8            18.630000
80          3            23.700000
            4            34.612000
            5            36.400000
            6            25.900000
81          4            32.814286
            6            23.428571
            8            26.600000
82          4            32.071429
            6            28.333333
Name: mpg, dtype: float64

In [18]:
avg_year.columns

Index(['mpg', 'cylinders', 'displacement', 'weight', 'acceleration', 'origin'], dtype='object')

In [19]:
avg_year['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [10]:
df.groupby('model_year').mean()['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [9]:
df.groupby(['model_year','cylinders']).describe()

                       mpg                                                    \
                     count       mean       std   min     25%    50%     75%
model_year cylinders
70         4           7.0  25.285714  1.112697  24.0  24.500  25.00  26.000
           6           4.0  20.500000  1.732051  18.0  20.250  21.00  21.250
           8          18.0  14.111111  2.609685   9.0  14.000  14.50  15.000
71         4          13.0  27.461538  3.502746  22.0  25.000  27.00  30.000
           6           8.0  18.000000  1.069045  16.0  17.750  18.00  19.000
           8           7.0  13.428571  0.786796  12.0  13.000  14.00  14.000
72         3           1.0  19.000000       NaN  19.0  19.000  19.00  19.000
           4          14.0  23.428571  3.056249  18.0  21.250  23.00  25.750
           8          13.0  13.615385  1.502135  11.0  13.000  13.00  14.000
73         3           1.0  18.000000       NaN  18.0  18.000  18.00  18.000
           4          11.0  22.727273  3.319365  19.0  20.000  22.00  25.000
           6           8.0  19.000000  2.203893  16.0  18.000  18.00  20.250
           8          20.0  13.200000  1.361114  11.0  12.000  13.00  14.000
74         4          15.0  27.800000  2.932576  24.0  26.000  26.00  31.000
           6           7.0  17.857143  2.267787  15.0  16.000  18.00  19.500
           8           5.0  14.200000  1.095445  13.0  14.000  14.00  14.000
75         4          12.0  25.250000  3.333712  22.0  23.000  24.00  26.000
           6          12.0  17.583333  2.020726  15.0  15.750  18.00  19.000
           8           6.0  15.666667  2.422120  13.0  14.250  15.50  16.000
76         4          15.0  26.766667  3.825976  19.0  25.000  27.00  29.000
           6          10.0  20.000000  2.494438  16.5  18.125  19.50  22.000
           8           9.0  14.666667  1.767767  13.0  13.000  14.50  16.000
77         3           1.0  21.500000       NaN  21.5  21.500  21.50  21.500
           4          14.0  29.107143  4.039129  21.5  25.625  30.00  31.250
           6           5.0  19.500000  1.767767  17.5  18.500  19.00  20.500
           8           8.0  16.000000  0.845154  15.0  15.500  15.75  16.250
78         4          17.0  29.576471  6.384799  21.1  23.900  29.50  32.800
           5           1.0  20.300000       NaN  20.3  20.300  20.30  20.300
           6          12.0  19.066667  1.548802  16.2  18.000  19.30  20.500
           8           6.0  19.050000  1.048332  17.5  18.375  19.30  19.775
79         4          12.0  31.525000  4.349739  22.3  28.150  32.70  34.275
           5           1.0  25.400000       NaN  25.4  25.400  25.40  25.400
           6           6.0  22.950000  3.851104  19.8  20.300  21.05  25.475
           8          10.0  18.630000  2.757636  15.5  16.925  17.90  19.025
80         3           1.0  23.700000       NaN  23.7  23.700  23.70  23.700
           4          25.0  34.612000  6.597621  23.6  29.800  33.80  40.800
           5           1.0  36.400000       NaN  36.4  36.400  36.40  36.400
           6           2.0  25.900000  9.616652  19.1  22.500  25.90  29.300
81         4          21.0  32.814286  3.844904  25.8  30.000  33.00  34.700
           6           7.0  23.428571  4.139531  17.6  21.300  23.50  24.800
           8           1.0  26.600000       NaN  26.6  26.600  26.60  26.600
82         4          28.0  32.071429  5.054727  23.0  27.750  32.00  36.000
           6           3.0  28.333333  8.504901  22.0  23.500  25.00  31.500

                           displacement              ... acceleration        \
                       max        count        mean  ...          75%   max
model_year cylinders                                 ...
70         4          27.0          7.0  107.000000  ...       17.500  20.5
           6          22.0          4.0  199.000000  ...       15.625  16.0
           8          18.0         18.0  367.555556  ...       12.000  18.5
71         4          35.0         13.0  101.846154  ...       19.000  20.5
           6          19.0          8.0  243.375000  ...       15.500  15.5
           8          14.0          7.0  371.714286  ...       12.500  13.5
72         3          19.0          1.0   70.000000  ...       13.500  13.5
           4          28.0         14.0  111.535714  ...       18.000  23.5
           8          17.0         13.0  344.846154  ...       13.500  16.0
73         3          18.0          1.0   70.000000  ...       13.500  13.5
           4          29.0         11.0  109.272727  ...       19.250  21.0
           6          23.0          8.0  212.250000  ...       16.500  18.0
           8          16.0         20.0  365.250000  ...       13.000  14.5
74         4          32.0         15.0   96.533333  ...       16.750  21.0
           6          21.0          7.0  230.428571  ...       17.000  18.0
           8          16.0          5.0  315.200000  ...       15.500  16.0
75         4          33.0         12.0  114.833333  ...       17.000  18.5
           6          21.0         12.0  233.750000  ...       19.125  21.0
           8          20.0          6.0  330.500000  ...       13.875  14.5
76         4          33.0         15.0  106.333333  ...       17.550  22.2
           6          24.0         10.0  221.400000  ...       17.675  21.0
           8          17.5          9.0  324.000000  ...       13.900  15.0
77         3          21.5          1.0   80.000000  ...       13.500  13.5
           4          36.0         14.0  106.500000  ...       16.950  18.6
           6          22.0          5.0  220.400000  ...       17.700  19.0
           8          17.5          8.0  335.750000  ...       14.600  19.0
78         4          43.1         17.0  112.117647  ...       16.700  21.5
           5          20.3          1.0  131.000000  ...       15.900  15.9
           6          20.8         12.0  213.250000  ...       17.450  19.2
           8          20.2          6.0  300.833333  ...       13.575  15.5
79         4          37.3         12.0  113.583333  ...       16.325  24.8
           5          25.4          1.0  183.000000  ...       20.100  20.1
           6          28.8          6.0  205.666667  ...       17.800  18.2
           8          23.9         10.0  321.400000  ...       15.350  22.2
80         3          23.7          1.0   70.000000  ...       12.500  12.5
           4          46.6         25.0  111.000000  ...       18.100  23.7
           5          36.4          1.0  121.000000  ...       19.900  19.9
           6          32.7          2.0  196.500000  ...       16.875  18.7
81         4          39.1         21.0  108.857143  ...       17.300  20.7
           6          30.7          7.0  184.000000  ...       16.850  19.6
           8          26.6          1.0  350.000000  ...       19.000  19.0
82         4          44.0         28.0  118.571429  ...       18.050  24.6
           6          38.0          3.0  225.000000  ...       16.700  17.0

                     origin
                      count      mean       std  min  25%  50%   75%  max
model_year cylinders
70         4            7.0  2.285714  0.487950  2.0  2.0  2.0  2.50  3.0
           6            4.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
           8           18.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
71         4           13.0  1.923077  0.862316  1.0  1.0  2.0  3.00  3.0
           6            8.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
           8            7.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
72         3            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
           4           14.0  1.928571  0.828742  1.0  1.0  2.0  2.75  3.0
           8           13.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
73         3            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
           4           11.0  2.000000  0.632456  1.0  2.0  2.0  2.00  3.0
           6            8.0  1.250000  0.707107  1.0  1.0  1.0  1.00  3.0
           8           20.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
74         4           15.0  2.200000  0.774597  1.0  2.0  2.0  3.00  3.0
           6            7.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
           8            5.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
75         4           12.0  2.166667  0.717741  1.0  2.0  2.0  3.00  3.0
           6           12.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
           8            6.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
76         4           15.0  1.866667  0.743223  1.0  1.0  2.0  2.00  3.0
           6           10.0  1.300000  0.674949  1.0  1.0  1.0  1.00  3.0
           8            9.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
77         3            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
           4           14.0  1.857143  0.864438  1.0  1.0  2.0  2.75  3.0
           6            5.0  1.400000  0.894427  1.0  1.0  1.0  1.00  3.0
           8            8.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
78         4           17.0  2.117647  0.927520  1.0  1.0  2.0  3.00  3.0
           5            1.0  2.000000       NaN  2.0  2.0  2.0  2.00  2.0
           6           12.0  1.166667  0.389249  1.0  1.0  1.0  1.00  2.0
           8            6.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
79         4           12.0  1.583333  0.792961  1.0  1.0  1.0  2.00  3.0
           5            1.0  2.000000       NaN  2.0  2.0  2.0  2.00  2.0
           6            6.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
           8           10.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
80         3            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
           4           25.0  2.200000  0.816497  1.0  2.0  2.0  3.00  3.0
           5            1.0  2.000000       NaN  2.0  2.0  2.0  2.00  2.0
           6            2.0  2.000000  1.414214  1.0  1.5  2.0  2.50  3.0
81         4           21.0  2.095238  0.943650  1.0  1.0  2.0  3.00  3.0
           6            7.0  1.714286  0.951190  1.0  1.0  1.0  2.50  3.0
           8            1.0  1.000000       NaN  1.0  1.0  1.0  1.00  1.0
82         4           28.0  1.714286  0.937180  1.0  1.0  1.0  3.00  3.0
           6            3.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0

[43 rows x 40 columns]

In [12]:
df.groupby('model_year').describe().transpose()

model_year                   70           71           72           73  \
mpg          count    29.000000    28.000000    28.000000    40.000000
             mean     17.689655    21.250000    18.714286    17.100000
             std       5.339231     6.591942     5.435529     4.700245
             min       9.000000    12.000000    11.000000    11.000000
             25%      14.000000    15.500000    13.750000    13.000000
             50%      16.000000    19.000000    18.500000    16.000000
             75%      22.000000    27.000000    23.000000    20.000000
             max      27.000000    35.000000    28.000000    29.000000
cylinders    count    29.000000    28.000000    28.000000    40.000000
             mean      6.758621     5.571429     5.821429     6.375000
             std       1.724926     1.665079     2.073708     1.807215
             min       4.000000     4.000000     3.000000     3.000000
             25%       6.000000     4.000000     4.000000     4.000000
             50%       8.000000     6.000000     4.000000     7.000000
             75%       8.000000     6.500000     8.000000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    29.000000    28.000000    28.000000    40.000000
             mean    281.413793   209.750000   218.375000   256.875000
             std     124.421380   115.102410   123.781964   121.722085
             min      97.000000    71.000000    70.000000    68.000000
             25%     198.000000    97.750000   109.250000   121.750000
             50%     307.000000   228.500000   131.000000   276.000000
             75%     383.000000   273.000000   326.000000   350.250000
             max     455.000000   400.000000   429.000000   455.000000
weight       count    29.000000    28.000000    28.000000    40.000000
             mean   3372.793103  2995.428571  3237.714286  3419.025000
             std     852.868663  1061.830859   974.520960   974.809133
             min    1835.000000  1613.000000  2100.000000  1867.000000
             25%    2648.000000  2110.750000  2285.500000  2554.500000
             50%    3449.000000  2798.000000  2956.000000  3338.500000
             75%    4312.000000  3603.250000  4169.750000  4247.250000
             max    4732.000000  5140.000000  4633.000000  4997.000000
acceleration count    29.000000    28.000000    28.000000    40.000000
             mean     12.948276    15.142857    15.125000    14.312500
             std       3.330982     2.666171     2.850032     2.754222
             min       8.000000    11.500000    11.000000     9.500000
             25%      10.000000    13.375000    13.375000    12.500000
             50%      12.500000    14.500000    14.500000    14.000000
             75%      15.000000    16.125000    16.625000    16.000000
             max      20.500000    20.500000    23.500000    21.000000
origin       count    29.000000    28.000000    28.000000    40.000000
             mean      1.310345     1.428571     1.535714     1.375000
             std       0.603765     0.741798     0.792658     0.667467
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       1.000000     2.000000     2.000000     2.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   74           75           76           77  \
mpg          count    27.000000    30.000000    34.000000    28.000000
             mean     22.703704    20.266667    21.573529    23.375000
             std       6.420010     4.940566     5.889297     6.675862
             min      13.000000    13.000000    13.000000    15.000000
             25%      16.000000    16.000000    16.750000    17.375000
             50%      24.000000    19.500000    21.000000    21.750000
             75%      27.000000    23.000000    26.375000    30.000000
             max      32.000000    33.000000    33.000000    36.000000
cylinders    count    27.000000    30.000000    34.000000    28.000000
             mean      5.259259     5.600000     5.647059     5.464286
             std       1.583390     1.522249     1.667558     1.815206
             min       4.000000     4.000000     4.000000     3.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       4.000000     6.000000     6.000000     4.000000
             75%       6.000000     6.000000     7.500000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    27.000000    30.000000    34.000000    28.000000
             mean    171.740741   205.533333   197.794118   191.392857
             std      92.601127    87.669730    94.422256   107.813742
             min      71.000000    90.000000    85.000000    79.000000
             25%      90.000000   121.000000   102.500000    97.750000
             50%     122.000000   228.000000   184.000000   143.000000
             75%     250.000000   250.000000   291.000000   270.500000
             max     350.000000   400.000000   351.000000   400.000000
weight       count    27.000000    30.000000    34.000000    28.000000
             mean   2877.925926  3176.800000  3078.735294  2997.357143
             std     949.308571   765.179781   821.371481   912.825902
             min    1649.000000  1795.000000  1795.000000  1825.000000
             25%    2116.500000  2676.750000  2228.750000  2135.000000
             50%    2489.000000  3098.500000  3171.500000  2747.500000
             75%    3622.500000  3662.250000  3803.750000  3925.000000
             max    4699.000000  4668.000000  4380.000000  4335.000000
acceleration count    27.000000    30.000000    34.000000    28.000000
             mean     16.203704    16.050000    15.941176    15.435714
             std       1.688532     2.471737     2.801419     2.273391
             min      13.500000    11.500000    12.000000    11.100000
             25%      15.250000    14.125000    13.925000    14.000000
             50%      16.000000    16.000000    15.500000    15.650000
             75%      17.000000    17.375000    17.550000    16.925000
             max      21.000000    21.000000    22.200000    19.000000
origin       count    27.000000    30.000000    34.000000    28.000000
             mean      1.666667     1.466667     1.470588     1.571429
             std       0.832050     0.730297     0.706476     0.835711
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       2.000000     2.000000     2.000000     2.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   78           79           80           81  \
mpg          count    36.000000    29.000000    29.000000    29.000000
             mean     24.061111    25.093103    33.696552    30.334483
             std       6.898044     6.794217     7.037983     5.591465
             min      16.200000    15.500000    19.100000    17.600000
             25%      19.350000    19.200000    29.800000    26.600000
             50%      20.700000    23.900000    32.700000    31.600000
             75%      28.000000    31.800000    38.100000    34.400000
             max      43.100000    37.300000    46.600000    39.100000
cylinders    count    36.000000    29.000000    29.000000    29.000000
             mean      5.361111     5.827586     4.137931     4.620690
             std       1.495761     1.774199     0.580895     1.082781
             min       4.000000     4.000000     3.000000     4.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       5.500000     6.000000     4.000000     4.000000
             75%       6.000000     8.000000     4.000000     6.000000
             max       8.000000     8.000000     6.000000     8.000000
displacement count    36.000000    29.000000    29.000000    29.000000
             mean    177.805556   206.689655   115.827586   135.310345
             std      76.012713    96.307581    33.744914    58.387929
             min      78.000000    85.000000    70.000000    79.000000
             25%     115.500000   121.000000    90.000000    98.000000
             50%     159.500000   183.000000   107.000000   119.000000
             75%     231.000000   302.000000   140.000000   151.000000
             max     318.000000   360.000000   225.000000   350.000000
weight       count    36.000000    29.000000    29.000000    29.000000
             mean   2861.805556  3055.344828  2436.655172  2522.931034
             std     626.023907   747.881497   432.235491   533.600501
             min    1800.000000  1915.000000  1835.000000  1755.000000
             25%    2282.500000  2556.000000  2110.000000  2065.000000
             50%    2910.000000  3190.000000  2335.000000  2385.000000
             75%    3410.000000  3725.000000  2800.000000  2900.000000
             max    4080.000000  4360.000000  3381.000000  3725.000000
acceleration count    36.000000    29.000000    29.000000    29.000000
             mean     15.805556    15.813793    16.934483    16.306897
             std       2.129915     2.952931     2.826694     2.192509
             min      11.200000    11.300000    11.400000    12.600000
             25%      14.475000    14.000000    15.100000    14.800000
             50%      15.750000    15.000000    16.500000    16.200000
             75%      16.825000    17.300000    18.700000    17.300000
             max      21.500000    24.800000    23.700000    20.700000
origin       count    36.000000    29.000000    29.000000    29.000000
             mean      1.611111     1.275862     2.206897     1.965517
             std       0.837608     0.591400     0.818505     0.944259
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     2.000000     1.000000
             50%       1.000000     1.000000     2.000000     2.000000
             75%       2.000000     1.000000     3.000000     3.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   82
mpg          count    31.000000
             mean     31.709677
             std       5.392548
             min      22.000000
             25%      27.000000
             50%      32.000000
             75%      36.000000
             max      44.000000
cylinders    count    31.000000
             mean      4.193548
             std       0.601074
             min       4.000000
             25%       4.000000
             50%       4.000000
             75%       4.000000
             max       6.000000
displacement count    31.000000
             mean    128.870968
             std      39.352037
             min      91.000000
             25%     105.000000
             50%     119.000000
             75%     142.000000
             max     262.000000
weight       count    31.000000
             mean   2453.548387
             std     354.276713
             min    1965.000000
             25%    2127.500000
             50%    2525.000000
             75%    2727.500000
             max    3035.000000
acceleration count    31.000000
             mean     16.638710
             std       2.484844
             min      11.600000
             25%      14.850000
             50%      16.400000
             75%      18.000000
             max      24.600000
origin       count    31.000000
             mean      1.645161
             std       0.914636
             min       1.000000
             25%       1.000000
             50%       1.000000
             75%       3.000000
             max       3.000000

## Groupby Multiple Columns
Let's explore average mpg per year per cylinder count

In [10]:
df.groupby(['model_year','cylinders']).mean()

TypeError: Could not convert 889095?728690707665696070 to numeric

In [14]:
df.groupby(['model_year','cylinders']).mean().index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

# MultiIndex

## The MultiIndex Object

In [28]:
year_cyl = df.groupby(['model_year','cylinders']).mean()

C:\Users\hp\AppData\Local\Temp\ipykernel_9540\3732211932.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  year_cyl = df.groupby(['model_year','cylinders']).mean()

In [37]:
year_cyl

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         4          25.250000    114.833333  2489.250000     15.833333
           6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         4          26.766667    106.333333  2306.600000     16.866667
           6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         3          21.500000     80.000000  2720.000000     13.500000
           4          29.107143    106.500000  2205.071429     16.064286
           6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         4          29.576471    112.117647  2296.764706     16.282353
           5          20.300000    131.000000  2830.000000     15.900000
           6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         4          31.525000    113.583333  2357.583333     15.991667
           5          25.400000    183.000000  3530.000000     20.100000
           6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000
81         4          32.814286    108.857143  2275.476190     16.466667
           6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [30]:
year_cyl.loc[(73,3)]

mpg               18.0
displacement      70.0
weight          2124.0
acceleration      13.5
origin             3.0
Name: (73, 3), dtype: float64

In [18]:
year_cyl.index.levels

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

In [19]:
year_cyl.index.names

FrozenList(['model_year', 'cylinders'])

# Indexing with the Hierarchical Index

Full Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [20]:
year_cyl.head()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000

## Grab Based on Outside Index

In [31]:
year_cyl.loc[(70,8)]

mpg               14.111111
displacement     367.555556
weight          3940.055556
acceleration      11.194444
origin             1.000000
Name: (70, 8), dtype: float64

In [35]:
year_cyl.loc[[73,74]]

                            mpg  displacement       weight  acceleration  \
model_year cylinders
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000

                      origin
model_year cylinders
73         3            3.00
           4            2.00
           6            1.25
           8            1.00
74         4            2.20
           6            1.00
           8            1.00

## Grab a Single Row

In [23]:
year_cyl.loc[(70,8)]

mpg               14.111111
displacement     367.555556
weight          3940.055556
acceleration      11.194444
origin             1.000000
Name: (70, 8), dtype: float64

# Grab Based on Cross-section with .xs()

This method takes a `key` argument to select data at a particular
level of a MultiIndex.

Parameters
----------
    key : label or tuple of label
        Label contained in the index, or partially in a MultiIndex.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to retrieve cross-section on.
    level : object, defaults to first n levels (n=1 or len(key))
        In case of a key partially contained in a MultiIndex, indicate
        which levels are used. Levels can be referred by label or position.

In [24]:
year_cyl.xs(key=70,axis=0,level='model_year')

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [25]:
# Mean column values for 4 cylinders per year
year_cyl.xs(key=4,axis=0,level='cylinders')

                  mpg  displacement       weight  acceleration    origin
model_year
70          25.285714    107.000000  2292.571429     16.000000  2.285714
71          27.461538    101.846154  2056.384615     16.961538  1.923077
72          23.428571    111.535714  2382.642857     17.214286  1.928571
73          22.727273    109.272727  2338.090909     17.136364  2.000000
74          27.800000     96.533333  2151.466667     16.400000  2.200000
75          25.250000    114.833333  2489.250000     15.833333  2.166667
76          26.766667    106.333333  2306.600000     16.866667  1.866667
77          29.107143    106.500000  2205.071429     16.064286  1.857143
78          29.576471    112.117647  2296.764706     16.282353  2.117647
79          31.525000    113.583333  2357.583333     15.991667  1.583333
80          34.612000    111.000000  2360.080000     17.144000  2.200000
81          32.814286    108.857143  2275.476190     16.466667  2.095238
82          32.071429    118.571429  2402.321429     16.703571  1.714286

### Careful note!

Keep in mind, its usually much easier to filter out values **before** running a groupby() call, so you should attempt to filter out any values/categories you don't want to use. For example, its much easier to remove **4** cylinder cars before the groupby() call, very difficult to this sort of thing after a group by.

In [26]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         8          13.615385    344.846154  4228.384615     13.000000
73         6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         6          25.900000    196.500000  3145.500000     15.050000
81         6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         6          1.000000
           8          1.000000
71         6          1.000000
           8          1.000000
72         8          1.000000
73         6          1.250000
           8          1.000000
74         6          1.000000
           8          1.000000
75         6          1.000000
           8          1.000000
76         6          1.300000
           8          1.000000
77         6          1.400000
           8          1.000000
78         6          1.166667
           8          1.000000
79         6          1.000000
           8          1.000000
80         6          2.000000
81         6          1.714286
           8          1.000000
82         6          1.000000

## Swap Levels

* Swapping Levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#swapping-levels-with-swaplevel
* Generalized Method is reorder_levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#reordering-levels-with-reorder-levels

In [27]:
year_cyl.swaplevel().head()

,,mpg,displacement,weight,acceleration,origin
cylinders,model_year,,,,,
4,70,25.285714,107.000000,2292.571429,16.000000,2.285714
6,70,20.500000,199.000000,2710.500000,15.500000,1.000000
8,70,14.111111,367.555556,3940.055556,11.194444,1.000000
4,71,27.461538,101.846154,2056.384615,16.961538,1.923077
6,71,18.000000,243.375000,3171.875000,14.750000,1.000000

## Sorting MultiIndex

* https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#sorting-a-multiindex

In [28]:
year_cyl.sort_index(level='model_year',ascending=False)

                            mpg  displacement       weight  acceleration  \
model_year cylinders
82         6          28.333333    225.000000  2931.666667     16.033333
           4          32.071429    118.571429  2402.321429     16.703571
81         8          26.600000    350.000000  3725.000000     19.000000
           6          23.428571    184.000000  3093.571429     15.442857
           4          32.814286    108.857143  2275.476190     16.466667
80         6          25.900000    196.500000  3145.500000     15.050000
           5          36.400000    121.000000  2950.000000     19.900000
           4          34.612000    111.000000  2360.080000     17.144000
           3          23.700000     70.000000  2420.000000     12.500000
79         8          18.630000    321.400000  3862.900000     15.400000
           6          22.950000    205.666667  3025.833333     15.433333
           5          25.400000    183.000000  3530.000000     20.100000
           4          31.525000    113.583333  2357.583333     15.991667
78         8          19.050000    300.833333  3563.333333     13.266667
           6          19.066667    213.250000  3314.166667     16.391667
           5          20.300000    131.000000  2830.000000     15.900000
           4          29.576471    112.117647  2296.764706     16.282353
77         8          16.000000    335.750000  4177.500000     13.662500
           6          19.500000    220.400000  3383.000000     16.900000
           4          29.107143    106.500000  2205.071429     16.064286
           3          21.500000     80.000000  2720.000000     13.500000
76         8          14.666667    324.000000  4064.666667     13.222222
           6          20.000000    221.400000  3349.600000     17.000000
           4          26.766667    106.333333  2306.600000     16.866667
75         8          15.666667    330.500000  4108.833333     13.166667
           6          17.583333    233.750000  3398.333333     17.708333
           4          25.250000    114.833333  2489.250000     15.833333
74         8          14.200000    315.200000  4438.400000     14.700000
           6          17.857143    230.428571  3320.000000     16.857143
           4          27.800000     96.533333  2151.466667     16.400000
73         8          13.200000    365.250000  4279.050000     12.250000
           6          19.000000    212.250000  2917.125000     15.687500
           4          22.727273    109.272727  2338.090909     17.136364
           3          18.000000     70.000000  2124.000000     13.500000
72         8          13.615385    344.846154  4228.384615     13.000000
           4          23.428571    111.535714  2382.642857     17.214286
           3          19.000000     70.000000  2330.000000     13.500000
71         8          13.428571    371.714286  4537.714286     12.214286
           6          18.000000    243.375000  3171.875000     14.750000
           4          27.461538    101.846154  2056.384615     16.961538
70         8          14.111111    367.555556  3940.055556     11.194444
           6          20.500000    199.000000  2710.500000     15.500000
           4          25.285714    107.000000  2292.571429     16.000000

                        origin
model_year cylinders
82         6          1.000000
           4          1.714286
81         8          1.000000
           6          1.714286
           4          2.095238
80         6          2.000000
           5          2.000000
           4          2.200000
           3          3.000000
79         8          1.000000
           6          1.000000
           5          2.000000
           4          1.583333
78         8          1.000000
           6          1.166667
           5          2.000000
           4          2.117647
77         8          1.000000
           6          1.400000
           4          1.857143
           3          3.000000
76         8          1.000000
           6          1.300000
           4          1.866667
75         8          1.000000
           6          1.000000
           4          2.166667
74         8          1.000000
           6          1.000000
           4          2.200000
73         8          1.000000
           6          1.250000
           4          2.000000
           3          3.000000
72         8          1.000000
           4          1.928571
           3          3.000000
71         8          1.000000
           6          1.000000
           4          1.923077
70         8          1.000000
           6          1.000000
           4          2.285714

In [29]:
year_cyl.sort_index(level='cylinders',ascending=False)

,,mpg,displacement,weight,acceleration,origin
model_year,cylinders,,,,,
81,8,26.600000,350.000000,3725.000000,19.000000,1.000000
79,8,18.630000,321.400000,3862.900000,15.400000,1.000000
78,8,19.050000,300.833333,3563.333333,13.266667,1.000000
77,8,16.000000,335.750000,4177.500000,13.662500,1.000000
76,8,14.666667,324.000000,4064.666667,13.222222,1.000000
75,8,15.666667,330.500000,4108.833333,13.166667,1.000000
74,8,14.200000,315.200000,4438.400000,14.700000,1.000000
73,8,13.200000,365.250000,4279.050000,12.250000,1.000000
72,8,13.615385,344.846154,4228.384615,13.000000,1.000000
71,8,13.428571,371.714286,4537.714286,12.214286,1.000000
70,8,14.111111,367.555556,3940.055556,11.194444,1.000000
82,6,28.333333,225.000000,2931.666667,16.033333,1.000000
81,6,23.428571,184.000000,3093.571429,15.442857,1.714286
80,6,25.900000,196.500000,3145.500000,15.050000,2.000000
79,6,22.950000,205.666667,3025.833333,15.433333,1.000000
78,6,19.066667,213.250000,3314.166667,16.391667,1.166667
77,6,19.500000,220.400000,3383.000000,16.900000,1.400000
76,6,20.000000,221.400000,3349.600000,17.000000,1.300000
75,6,17.583333,233.750000,3398.333333,17.708333,1.000000
74,6,17.857143,230.428571,3320.000000,16.857143,1.000000
73,6,19.000000,212.250000,2917.125000,15.687500,1.250000
71,6,18.000000,243.375000,3171.875000,14.750000,1.000000
70,6,20.500000,199.000000,2710.500000,15.500000,1.000000
80,5,36.400000,121.000000,2950.000000,19.900000,2.000000
79,5,25.400000,183.000000,3530.000000,20.100000,2.000000
78,5,20.300000,131.000000,2830.000000,15.900000,2.000000
82,4,32.071429,118.571429,2402.321429,16.703571,1.714286
81,4,32.814286,108.857143,2275.476190,16.466667,2.095238
80,4,34.612000,111.000000,2360.080000,17.144000,2.200000
79,4,31.525000,113.583333,2357.583333,15.991667,1.583333
78,4,29.576471,112.117647,2296.764706,16.282353,2.117647
77,4,29.107143,106.500000,2205.071429,16.064286,1.857143
76,4,26.766667,106.333333,2306.600000,16.866667,1.866667
75,4,25.250000,114.833333,2489.250000,15.833333,2.166667
74,4,27.800000,96.533333,2151.466667,16.400000,2.200000
73,4,22.727273,109.272727,2338.090909,17.136364,2.000000
72,4,23.428571,111.535714,2382.642857,17.214286,1.928571
71,4,27.461538,101.846154,2056.384615,16.961538,1.923077
70,4,25.285714,107.000000,2292.571429,16.000000,2.285714
80,3,23.700000,70.000000,2420.000000,12.500000,3.000000
77,3,21.500000,80.000000,2720.000000,13.500000,3.000000
73,3,18.000000,70.000000,2124.000000,13.500000,3.000000
72,3,19.000000,70.000000,2330.000000,13.500000,3.000000

# Advanced: agg() method

The agg() method allows you to customize what aggregate functions you want per category

In [11]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## agg() on a DataFrame

In [12]:
# These strings need to match up with built-in method names
df.agg(['median','mean'])

TypeError: could not convert string to float: '?'

In [41]:
df.agg(['sum','mean'])[['mpg','weight']]

              mpg        weight
sum   9358.800000  1.182229e+06
mean    23.514573  2.970425e+03

### Specify aggregate methods per column

**agg()** is very powerful,allowing you to pass in a dictionary where the keys are the columns and the values are a list of aggregate methods.

In [15]:
df.agg({'mpg':['median','mean'],'weight':['mean','std']})

              mpg       weight
median  23.000000          NaN
mean    23.514573  2970.424623
std           NaN   846.841774

## agg() with groupby()

In [14]:
df.groupby('model_year').agg({'mpg':['median','mean'],'weight':['mean','std']})

              mpg                  weight
           median       mean         mean          std
model_year
70          16.00  17.689655  3372.793103   852.868663
71          19.00  21.250000  2995.428571  1061.830859
72          18.50  18.714286  3237.714286   974.520960
73          16.00  17.100000  3419.025000   974.809133
74          24.00  22.703704  2877.925926   949.308571
75          19.50  20.266667  3176.800000   765.179781
76          21.00  21.573529  3078.735294   821.371481
77          21.75  23.375000  2997.357143   912.825902
78          20.70  24.061111  2861.805556   626.023907
79          23.90  25.093103  3055.344828   747.881497
80          32.70  33.696552  2436.655172   432.235491
81          31.60  30.334483  2522.931034   533.600501
82          32.00  31.709677  2453.548387   354.276713